body {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.balance {
  display: flex;
  flex-direction: column;
  line-height: 0.11px;
}

.income-expenses {
  display: flex;
  background-color:#d9d9d9;
  /* border-radius: 15px; */
  width: 210px;
  padding: 0 51px;
  justify-content: space-between;
}

.income > h3 {
  /* margin-right: 15px; */
  color: rgb(0, 24, 243);
  font-weight: 500;
}

.expenses > h3 {
  color: red;
    font-weight: 500;
}

.income>h2,
.expenses>h2 {
  font-weight: 500;
}


.App {
  /* background-color: rgb(212, 239, 138); */
  /* width: 412px; */
  width: inherit;
}

.transaction {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  width: inherit;
  height: 39px;
  align-items: center;
  margin-bottom: 6px;
}

form {
  display: flex;
  flex-direction: column;
}

.submit {
  border: none;
  border-radius: 5px;
  margin-top: 9px;
  height: 30px;
  width: 70px;
  color: white;
  background-color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


.label{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

label,
input{
  margin-bottom: 4px;
}

.header{
  text-align: center;
}

.del{
  height: 39px;
    margin-left: 3px;
    border: none;
}

.transaction-list{
  display: flex;
  width: -webkit-fill-available;
}